<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->

<head th:replace="fragments/admin/commons::head"></head>

<body>
<div class="wrapper">
    <nav th:replace="fragments/admin/commons::left_menu"></nav>
    <div id="body" class="active">
        <nav th:replace="fragments/admin/commons::navbar"></nav>
        <div class="content">
            <div class="container">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">Edit User</div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <form class="needs-validation" novalidate accept-charset="utf-8" method="POST"
                                  th:action="@{/admin/user/edit/}" th:object="${userData}">
                                <input type="hidden" name="id" th:field="*{id}">
                                <div class="row g-2">
                                    <div class="mb-3 col-md-6">
                                        <label for="firstName" class="form-label">First Name</label>
                                        <input th:field="*{firstName}" th:errorclass="'is-invalid alert-danger'"
                                               id="firstName" type="text" class="form-control" name="firstName">
                                        <small class="form-text text-muted"></small>
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}"
                                             th:errors="*{firstName}">This is an error
                                        </div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="lastName" class="form-label">Last Name</label>
                                        <input th:field="*{lastName}" th:errorclass="'is-invalid alert-danger'"
                                               id="lastName" type="text" class="form-control" name="lastName">
                                        <small class="form-text text-muted"></small>
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}"
                                             th:errors="*{lastName}">This is an error
                                        </div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="username" class="form-label">Username</label>
                                        <input th:field="*{username}" th:errorclass="'is-invalid alert-danger'"
                                               id="username" type="text" class="form-control" name="lastName">
                                        <small class="form-text text-muted"></small>
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="email" class="form-label">Email</label>
                                        <input th:field="*{email}" th:errorclass="'is-invalid alert-danger'"
                                               id="email" type="email" class="form-control" name="email">
                                        <small class="form-text text-muted"></small>
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="password" class="form-label">Password</label>
                                        <input th:value="*{password}" th:errorclass="'is-invalid alert-danger'"
                                               id="password" type="password" class="form-control" name="password">
                                        <small class="form-text text-muted"></small>
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="role" class="custom-select form-label"> Change Role</label>
                                        <select class="form-select" id="role" name="role">
                                            <option th:each="r : ${T(BakeryProject.demo.models.enums.RoleEnum).values()}"
                                                    th:value="${r}" th:text="${r}">Role
                                            </option>
                                        </select>
                                        <small class="form-text text-muted"></small>
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="address" class="form-label">Address</label>
                                    <input th:field="*{address}" th:errorclass="'is-invalid alert-danger'" id="address" type="text"
                                           class="form-control" name="address">
                                    <div class="valid-feedback"></div>
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="row g-2">
                                    <div class="mb-3 col-md-6">
                                        <label for="city" class="form-label">City</label>
                                        <input th:field="*{city}" th:errorclass="'is-invalid alert-danger'" id="city" type="text"
                                               class="form-control" name="city">
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="mb-3 col-md-2">
                                        <label for="phoneNumber" class="form-label">Phone number</label>
                                        <input th:field="*{phoneNumber}" th:errorclass="'is-invalid alert-danger'"
                                               id="phoneNumber" type="text" class="form-control" name="phoneNumber">
                                        <div class="valid-feedback"></div>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                                <a class="btn btn-danger" href="/admin/"><i class="fas fa-save"></i> Cancel </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="fragments/admin/scripts"></th:block>
</body>

</html>