<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Panel</title>
    <link href="/admin/assets/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/admin/assets/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/admin/assets/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/assets/vendor/datatables/datatables.min.css" rel="stylesheet">
    <link href="/admin/assets/css/master.css" rel="stylesheet">
</head>

<nav id="sidebar" class="" th:fragment="left_menu">
    <div class="sidebar-header">
        <img src="/admin/assets/img/bootstraper-logo.png" alt="bootraper logo" class="app-logo">
    </div>
    <ul class="list-unstyled components text-secondary">
        <li>
            <a href="/admin/"><i class="fas fa-user-friends"></i>Users</a>
        </li>
        <li>
            <a href="/admin/category/"><i class="fas fa-list"></i>Categories</a>
        </li>
        <li>
            <a href="/admin/products/"><i class="fas fa-bread-slice"></i>Products</a>
        </li>
        <li>
            <a href="/admin/orders/"><i class="fas fa-shopping-bag"></i>Orders</a>
        </li>
        <li>
            <a href="/admin/review/"><i class="fas fa-comments"></i>Reviews</a>
        </li>
    </ul>
</nav>


<nav class="navbar navbar-expand-lg navbar-white bg-white" th:fragment="navbar">
    <button type="button" id="sidebarCollapse" class="btn btn-light">
        <i class="fas fa-bars"></i><span></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <div class="nav-dropdown">
                    <a href="/" id="nav1" class="nav-item nav-link dropdown-toggle text-secondary"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-link"></i> <span>Quick Links</span> <i style="font-size: .8em;"
                                                                                class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end nav-link-menu" aria-labelledby="nav1">
                        <ul class="nav-list">
                            <li><a href="/" class="dropdown-item"><i class="fas fa-home"></i> Home Bakery</a>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li><a href="/products/" class="dropdown-item"><i class="fas fa-bread-slice"></i>All Products Bakery View</a>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li><a href="/admin/orders/" class="dropdown-item"><i class="fas fa-cloud-download-alt">All Orders</i></a></li>
                            <div class="dropdown-divider"></div>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-dropdown">
                    <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i> <span sec:authentication="name">Admin Name</span> <i style="font-size: .8em;"
                                                                             class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                        <ul class="nav-list">
                            <form th:method="post" th:action="@{/users/logout}" sec:authorize="isAuthenticated()">
                                <input type="submit" class="btn btn-link my-text active" value="Logout"/>
                            </form>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
