<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/navigation::head"></head>
<body>
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>

<th:block th:replace="fragments/navigation::topbar"></th:block>
<th:block th:replace="fragments/navigation::header"></th:block>

<div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s"></div>
<main>
    <div class="container">
        <h1 class="text-center mt-2">Cart Details</h1>
        <hr class="hr-3 w-25 bg-white"/>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Products</th>
                    <th scope="col">Count</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cp : ${cartProducts}" th:data-product-item="${cp.getId()}">
                    <td th:text="${cp.getName()}"></td>
                    <td th:text="${cp.getQuantity()}" th:class="'quantity-product-' + ${cp.getId()}"></td>
                    <td th:text="${cp.getPrice()}"></td>
                    <td class="text-end">
                        <a  class="btn btn-outline-info btn-rounded decrement-product" th:data-product-id="${cp.getId()}"><i class="fas fa-minus"></i></a>
                        <a class="btn btn-outline-info btn-rounded increment-product" th:data-product-id="${cp.getId()}"><i
                                class="fas fa-plus"></i></a>
                        <a th:href="@{/cart/removeItem/{id}(id = ${cp.getId()})}"
                           class="btn btn-outline-danger btn-rounded"><i
                                class="fas fa-trash"></i></a>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <th class="text-end">Total price:</th>
                    <th th:text="${totalPrice}" th:class="product-total-price"></th>
                    <td></td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <a class="btn btn-warning  mb-3" th:href="@{/orders/create/}">Create an Order</a>
        </div>

    </div>
</main>
<footer th:replace="fragments/navigation::footer"></footer>
<div class="container-fluid copyright text-light py-4 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/counterup/counterup.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script type="text/javascript">

    $("a.increment-product").on("click", function (e) {
        e.preventDefault();
        let productId = $(this).data("product-id");
        let productClass = ".quantity-product-" + productId;
        let totalPrice = $(".product-total-price");
        fetch('/incrementItem/' + productId, {
            method: 'GET'
        })
            .then(response => response.json())
            .then(response => {
                console.log(response);
                $(productClass).html(response.data.quantity);
                $(totalPrice).html(response.data.total_price);
            })
            .catch(err => console.error(err));
    });

    $("a.decrement-product").on("click", function (e) {
        e.preventDefault();
        let productId = $(this).data("product-id");
        let productClass = ".quantity-product-" + productId;
        let totalPrice = $(".product-total-price");
        fetch('/decrementItem/' + productId, {
            method: 'GET'
        })
            .then(response => response.json())
            .then(response => {
                console.log(response);
                if(parseInt(response.data.quantity) == 0){
                    $(totalPrice).html(response.data.total_price);
                    $(`[data-product-item=${productId}]`).remove();
                } else {
                    $(productClass).html(response.data.quantity);
                    $(totalPrice).html(response.data.total_price);
                }

            })
            .catch(err => console.error(err));
    });


</script>

</body>
</html>