<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navigation::head"></head>
<body>
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->


<!-- Topbar Start -->
<th:block th:replace="fragments/navigation::topbar"></th:block>
<th:block th:replace="fragments/navigation::header"></th:block>

<div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s"></div>

<main>
    <h1 class="text-center mt-2">Login</h1>
    <hr class="hr-3 w-25 bg-white"/>

    <form class="mx-auto w-25 bg-blur rounded" method="" action="/users/login">
        <div class="form-group">
            <div class="text-danger">Error messages</div>
            <div class="text-danger">Incorrect username or password!</div>

            <div class="form-group">
                <div class="label-holder text-white d-flex justify-content-center">
                    <label for="username" class="h3 mb-2">Username</label>
                </div>
                <input type="text" class="form-control" id="username" name="username"/>
            </div>

            <div class="form-group">
                <div class="label-holder text-white d-flex justify-content-center">
                    <label for="password" class="h3 mb-2">Password</label>
                </div>
                <input type="password" class="form-control" id="password" name="password"/>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-warning  mb-3" value="Login">Login</button>
            </div>
        </div>

    </form>
</main>
<footer th:replace="fragments/navigation::footer"></footer>
<!-- Copyright Start -->
<div class="container-fluid copyright text-light py-4 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<!-- Copyright End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/counterup/counterup.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>
</html>